.containerHeader {
    width: 100%;
    min-height: 30vh;
    padding: 10px;
    background-image: linear-gradient(to bottom, blue, white);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    text-align: center;

    & h1 {
        text-shadow: 2px 2px 4px gainsboro;
    }
}

.marca {
    height: 30px;
    text-align: center;
}

.containerNav {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.navLink{
    text-decoration: none;
    padding: 10px 15px;
    background-color: gainsboro;
    color: black;
    border-radius: 5px;

    font-weight: bold;

    cursor: pointer;

    transition: background-color 1s;

    &:hover {
        background-color: gray;
    }
}